<div class="container">
  <div class="template">
    <h1>Bienvenido a este ejemplo que cumple con las siguientes condiciones:


    </h1>

    <p>

      buscar y registrar  Informacion de la Fabrica, permitiendo la autenticación en el sistema
    </p>

    <h3>Reglas de negocio:</h3>

    <ul>
      <li>Guardar los datos en la base de datos SqlServer, en las tablas User,order y product</li>
      <li>El backEnd esta en .Net Core cuenta con dos controladores   UserController y AuthController,ProductController y OrderController.</li>
      <li>Para la comunicacion con la base de datos se esta utilizando Entityframework 5.0.7</li>
      <li>El FrondEnd esta escrito en Angular </li>
      <li>Por defecto existe un usuario con login Admin y password 12345 .</li>
    </ul>

  </div>
</div>
